In [4]:
import numpy as np

In [5]:
import pandas as pd

In [6]:
# Return a sample from the "standard normal" distribution
# np.random.randn(k, r), 從標準常態分配取出 r 組各 k 個值, r預設為1
np.random.randn(5,5)

array([[ 2.18789119, -0.24784971,  0.587651  , -0.6748615 , -0.20459031],
       [ 1.30220362,  0.95036134, -2.69090095,  0.58496001,  0.97165286],
       [-0.85531161,  0.44012748,  1.5189083 , -0.20651319,  1.49515034],
       [-0.14697032, -0.25286407,  1.08533051, -1.10714326,  1.80968357],
       [-0.11625248,  0.08193772, -1.50652426, -1.21235984,  2.61593123]])

### Pandas數據分析套件
提供了Series與DataFrame兩種主要的數據結構。
        Series 是用來處理時間序列相關的資料，它的結構類似有索引 (Index) 的一維陣列。
        DataFrame則是用來處理表格化的資料，是具有列和欄的二維陣列，類似關聯式資料庫 (Relational Database, RDB) 的形式。

1. 利用下面的資料建立DataFrame <br/>
list1 = [[90, 60, 33], [50, 70, 75], [70, 90, 88], [80, 50, 60]] <br/>
columns = ['Math', 'English', 'History'] <br/>
index=['Simon','Allen','Jimmy','Peter']

In [7]:
A =np.array([[90, 60, 33], [50, 70, 75], [70, 90, 88], [80, 50, 60]])
A

array([[90, 60, 33],
       [50, 70, 75],
       [70, 90, 88],
       [80, 50, 60]])

In [8]:
df = pd.DataFrame(data=A,
                  index=('Simon','Allen','Jimmy','Peter'),
                  columns=('Math', 'English', 'History')    )
df

       Math  English  History
Simon    90       60       33
Allen    50       70       75
Jimmy    70       90       88
Peter    80       50       60

**取出數學>60 且英文>85 的資料, 並以DataFrame的方式呈現**

In [9]:
df2 = df[ (df["Math"]>60) & (df["English"]>85)  ]
df2

       Math  English  History
Jimmy    70       90       88

**計算各科的平均數**

In [10]:
df.mean()

Math       72.5
English    67.5
History    64.0
dtype: float64

**依各科分數來個別排名**

In [11]:
df.rank()

       Math  English  History
Simon   4.0      2.0      1.0
Allen   1.0      3.0      3.0
Jimmy   2.0      4.0      4.0
Peter   3.0      1.0      2.0

**新增性別資料** <br/>
Gender = ['M'.'F','M','M']

In [13]:
Gender = ['M','F','M','M']

In [15]:
df['Gender']
df

KeyError: 'Gender'

**性別的類別各出現幾次？**

In [ ]:
df.loc[:,'Gender'].value_counts()

**算出每位同學的平均分數，再用平均分數排名**

In [17]:
p = df.mean(axis=1)
p

Simon    61.000000
Allen    65.000000
Jimmy    82.666667
Peter    63.333333
dtype: float64